*{
    box-sizing: border-box;
    text-align: center;
}
h1{
    background-color: black;
    color: white;
    margin: 0;
    padding: 1.2em 10px;
}
fieldset{
    border: none;
    margin: 0;
}
.search{
    background-color: gray;
}
.filters{
    background-color: lightgrey;
    border-bottom: 1px solid gray;
}
#printType{
    margin-right: 10px;
}
ul{
    list-style: none;
    padding-left: 10px;
}
.result-details{
    display: flex;
    margin: 10px 20px;
}
.details{
    width: 90%;
    margin: 0;
}
img{
    width: 10%;
    margin: 0;
}